.btn {
    border: 0;
    width: 100%;
    padding: 0.7em 1.2em;
    background-color:#02373f;
    color: #999;
    font-size:14px;
    font-weight:bold;
    text-shadow: 1px 1px 2px #222;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
   color: #FFF;
}