.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    color:#777;
    margin-bottom: .6em;
    font-weight: bold;
}

.form_control textarea {
    background: transparent;
    padding: 0.7em;
    border-radius: 5px;
    border: 1px solid #7b7b7b;
    outline: 0;   
}
.form_control textarea::placeholder {
    color: #7b7b7b;
}